<h1>
  Edit list
</h1>

<hr>

<form action="/update_list/<%= @list.id %>">
  <!-- Label and input for title -->
  <div class="form-group">
    <label for="title" class="control-label">Title</label>
    <input type="text" value="<%= @list.title %>" id="title" name="title" class="form-control">
  </div>

  <!-- Label and input for description -->
  <div class="form-group">
    <label for="description" class="control-label">Description</label>
    <input type="text" value="<%= @list.description %>" id="description" name="description" class="form-control">
  </div>

  <button class="btn btn-default">
    Update list
  </button>
</form>

<hr>

<a href="/lists">
  Go back
</a>
